@namespace Pango.UI.Components

@inherits Paginator

<div class=@Tw("flex w-full items-center gap-4 justify-between px-2",
       AdditionalAttributes?.GetValueOrDefault("class")?.ToString())>
  @if (State.TotalItemCount.HasValue)
  {
    @if (SummaryTemplate is null)
    {
      <span class="text-muted-foreground">
        <strong>@(State.TotalItemCount ?? 0)</strong> rows
      </span>
    }
    else
    {
      @SummaryTemplate
    }

    <span class="flex ms-auto gap-1 text-muted-foreground">
      Page <strong>@(State.CurrentPageIndex + 1)</strong>
      of <strong>@(State.LastPageIndex + 1)</strong>
    </span>

    <nav role="navigation" class="flex items-center gap-2">
      <a href="@(CanGoBack ? GetPageUrl(0) : null)" @onclick="@(GoFirstAsync)" disabled="@(!CanGoBack)"
        title="Go to first page" aria-label="Go to first page">
        <Button Variant=@(Button.Variants.Outline) Size=@(Button.Sizes.Icon) class="hidden md:block"
          disabled="@(!CanGoBack)">
          <i class="ph ph-caret-double-left group-disabled:opacity-60"></i>
        </Button>
      </a>

      <a href="@(CanGoBack ? GetPageUrl(State.CurrentPageIndex - 1) : null)" @onclick="@(GoPreviousAsync)"
        disabled="@(!CanGoBack)" title="Go to previous page" aria-label="Go to previous page">
        <Button Variant="Button.Variants.Outline" Size="Button.Sizes.Icon" disabled="@(!CanGoBack)">
          <i class="ph ph-caret-left group-disabled:opacity-60"></i>
        </Button>
      </a>

      <a href="@(CanGoForwards ? GetPageUrl(State.CurrentPageIndex + 1) : null)" @onclick="@(GoNextAsync)"
        disabled="@(!CanGoForwards)" title="Go to next page" aria-label="Go to next page">
        <Button Variant="Button.Variants.Outline" Size="Button.Sizes.Icon" disabled="@(!CanGoForwards)">
          <i class="ph ph-caret-right group-disabled:opacity-60"></i>
        </Button>
      </a>

      <a href="@(CanGoForwards ? GetPageUrl(State.LastPageIndex) : null)" @onclick="@(GoLastAsync)"
        disabled="@(!CanGoForwards)" title="Go to last page" aria-label="Go to last page">
        <Button Variant="Button.Variants.Outline" Size="Button.Sizes.Icon" class="hidden md:block"
          disabled="@(!CanGoForwards)">
          <i class="ph ph-caret-double-right group-disabled:opacity-60"></i>
        </Button>
      </a>
    </nav>
  }
</div>
