@namespace Pango.UI.Components

@inherits Paginator

<div class=@Tw("flex w-full items-center gap-4 justify-between px-2",
       AdditionalAttributes?.GetValueOrDefault("class")?.ToString())>
  @if (State.TotalItemCount.HasValue)
  {
    <span class="text-muted-foreground">
      <strong>@(State.TotalItemCount ?? 0)</strong> rows
    </span>

    <span class="flex ms-auto gap-1 text-muted-foreground">
      Page <strong>@(State.CurrentPageIndex + 1)</strong>
      of <strong>@(State.LastPageIndex + 1)</strong>
    </span>

    <div class="flex items-center gap-2">
      <Button Variant=@(Button.Variants.Outline) Size=@(Button.Sizes.Icon) class="hidden md:block"
        @onclick="@GoFirstAsync" disabled="@(!CanGoBack)">
        <i class="ph ph-caret-double-left group-disabled:opacity-60"></i>
      </Button>

      <Button Variant="Button.Variants.Outline" Size="Button.Sizes.Icon" @onclick="GoPreviousAsync"
        disabled="@(!CanGoBack)">
        <i class="ph ph-caret-left group-disabled:opacity-60"></i>
      </Button>

      <Button Variant="Button.Variants.Outline" Size="Button.Sizes.Icon" @onclick="GoNextAsync"
        disabled="@(!CanGoForwards)">
        <i class="ph ph-caret-right group-disabled:opacity-60"></i>
      </Button>

      <Button Variant="Button.Variants.Outline" Size="Button.Sizes.Icon" class="hidden md:block" @onclick="GoLastAsync"
        disabled="@(!CanGoForwards)">
        <i class="ph ph-caret-double-right group-disabled:opacity-60"></i>
      </Button>
    </div>
  }
</div>
