@namespace Pango.UI.Shared.Docs

@* Code adapted from https://github.com/microsoft/fluentui-blazor *@


@if (Component.BaseType is not null)
{
  <div class="flex flex-col gap-2">
    <header class="flex flex-col gap-1">
      <h2 class="text-xl font-medium">API Reference</h2>
      <h1 class="flex gap-1 text-2xl font-bold">
        <span>@(_displayName) - @(Component.BaseType.Name)</span>

        @if (!string.IsNullOrEmpty(Href))
        {
          <a class="hover:underline" href=@(Href) target="_blank">
            <i class="ph ph-arrow-square-out"></i>
          </a>
        }
      </h1>
    </header>

    @if (Description is not null)
    {
      @(Description)
    }

    @if (Properties.Any())
    {
      string header = Properties.Any(x => x.IsParameter) ? "Parameters" : "Properties";
      <section class="flex flex-col gap-2">
        <h3 class="mt-16 first:mt-0 pb-2 border-b text-xl leading-snug font-semibold tracking-tight">
          @header
        </h3>

        <ul class="flex flex-col gap-4">
          @foreach (var prop in Properties)
          {
            <li class="flex flex-col">
              <h5 class="flex items-center leading-none gap-1 text-lg font-bold">
                @prop.Name

                @if (prop.IsInherits)
                {
                  <small class="text-sm text-muted-foreground/90">
                    @Component.BaseType.Name
                  </small>
                }
              </h5>

              <div class="flex items-end gap-1">
                <p title="@(prop.FullType)">
                  <strong class="font-medium">Type:</strong>
                  @prop.Type
                </p>

              </div>

              @if (prop.EnumValues.Any())
              {
                <p>
                  <strong class="font-medium">EnumValues:</strong>
                  @(string.Join("; ", prop.EnumValues))
                </p>
              }

              @if (!string.IsNullOrEmpty(prop.Description))
              {
                <p>
                  <strong class="font-medium">Description:</strong>
                  @prop.Description
                </p>
              }
            </li>
          }
        </ul>
      </section>
    }
  </div>
}

